alembic
asyncpg
bcrypt
celery
fastapi[all]
flower
greenlet
httpx
passlib
pillow
pytest
pytest-asyncio
python-jose
psycopg2
sqladmin
sqlalchemy
pyright
python-json-logger
redis
sentry-sdk[fastapi]
fastapi-versioning
gunicorn
prometheus-fastapi-instrumentator
fastapi-users[sqlalchemy]
ruff
pre-commit