alembic
asyncpg
bcrypt
celery
fastapi[all]
flower
greenlet
httpx
passlib
pillow
pytest
pytest-asyncio
python-jose
psycopg2
sqladmin
sqlalchemy
black
flake8
autoflake
isort
pyright
python-json-logger
sentry-sdk[fastapi]
fastapi-versioning
gunicorn
prometheus-fastapi-instrumentator
fastapi-users[sqlalchemy]